.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.product {
    background-color: chartreuse;
    border: 2px solid black;
    margin: 5px;
}

.product>img {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid>div>h3,
.grid>div>p {
    text-align: center;
}

.grid>div:hover {
    transform: scale(1.05);
    animation-name: video;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes video {
    0% {
        border: 4px solid cyan;
    }

    25% {
        border: magenta;
    }

    50% {
        border: 4px solid red;
    }

    75% {
        border: 4px solid orange;
    }

    100% {
        border: 4px solid blue;
    }
}