.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.product {
    background-color: chartreuse;
    border: 2px solid black;
    margin: 5px;
}

.product>img {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid>div>h3,
.grid>div>p {
    text-align: center;
}